<% provide(:title, "About Track Sense") %>
<div class="main-content about">
  <h1>About Us</h1>

  <h2>Founders</h2>
  <div id="founders-wrapper">
    <div class="founder">
      <h3>Morgan Chen</h3>
      <img src="https://cdn.makeschool.com/assets/main/person_morgan-0b8ccfb5472f816349636b7c4cc4d2ce.jpg" 
        width="150" height="150" />
      <p>
        Morgan is the glue that holds team TrackSense together. Without him, there would be no form of central organization 
        and TrackSense would have most likely fallen apart into three separate web apps. In his free time, he enjoys 
        bouldering and playing Super Smash Bros.
      </p>
    </div>
    <div class="founder">
      <h3>Samuel Drozdov</h3>
      <img src="https://cdn.makeschool.com/assets/main/person_sam-cd387066b654eec68082eb921b4b7011.jpg" 
        width="150" height="150" />
      <p>
        Sam is taking a gap year from the University of Maryland. He holds a pole vaulting record from high school and 
        started an awesome music blog called laidbackbeets.com. He's an incredibly productive developer, shipping three 
        apps in 8 weeks this summer.
      </p>
    </div>
    <div class="founder">
      <h3>Andrew Sassmaster</h3>
      <img src="https://cdn.makeschool.com/assets/main/person_andrew-074ec870164d9b9a7dd99929dead3af7.jpg"
        width="150" height="150" />
      <p>
        Andrew may seem like a nice guy, but he actually loves watching other people suffer.
      </p>
    </div>
  </div>

  <h2>Special Thanks</h2>
  <div id="makeschool">
    <a href="https://www.makeschool.com/" target="_blank">
      <%= image_tag("MakeSchool_Diamond_Big.png", size: "200", alt: "MakeSchool") %>
    </a>
  </div>
</div>
