<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="main-feed-wrapper">
    <%= render 'shared/feed', locals: {theDate: 0} %>
    <div class="load-feed-wrapper">
      <div class="col-md-4"></div>
      <h2 class="col-md-4 load-feed-button">Load Previous</h2>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
