<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="day-wrapper">
    <div class="day">
      <div class="day-label">
        <h2 class="day-descriptor">Today</h2>
        <h3 class="day-date">January 7th<h3>
      </div>

      <div class="submission-wrapper">
        <div class="like-button">
          <div class="glyphicon glyphicon-ok">
          </div>
          <div class="vote-count">
            19
          </div>
        </div>
        <div class="submission-info">
          <h2 class="song-name">Sunday Candy</h2>
          <h3 class="song-artist">Chance The Rapper<h3>
          <div class="submission-detail">
            <h6>Posted by Samuel Drozdov in Happy Rap</h6>
          </div>
        </div>
        <div class="right-margin-wrapper">
          <div class="song-time">
            <h3>0:00/3:49</h3>
          </div>
          <div class="song-play-btn glyphicon glyphicon-play">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
