<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="main-feed-wrapper">
    <div class="">
        <p style="margin: 0px; padding: 0px; margin-top: 10px;">Popular Groups</p>
        <div class="tag-box-wrapper" style="margin-top: 0px; padding-top: 0px;">
          <% @groups.each do |group| %>
            <%= link_to group_name_path(group.name) do %>
            <div class="tag-box">
              <div class="tag-label">
                <div class="tag-inner-label"><%= group.name %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
        <p style="clear:left; margin: 10px; margin-left: 0px;">Top Tracks</p>
        <%= render @submissions %>
    </div>
  </div>
</div>
