<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="day-wrapper">
    <div class="day">
      <div class="day-label">
        <h2 class="day-descriptor">Today</h2>
        <h3 class="day-date">January 7th<h3>
      </div>


    </div>
  </div>
</div>
