<% provide(:title, "Track Sense") %>
<div class="main-content">
    <div class="col-md-3 profile-navigation-wrapper">
      <div class="col-md-4 profile-image">

      </div>
      <div class="col-md-8 profile-name">
        <h2>John Doe</h2>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        <h2>Genre</h2>
      </div>
      <div class="row songs-wrapper">
        List of Songs
      </div>
    </div>
</div>
