<% provide(:title, "Track Sense") %>
<div class="main-content">
    <div class="col-md-3 profile-navigation-wrapper">
      <div class="col-md-4">
        <%= image_for @user, "profile-image" %>
      </div>
      <div class="col-md-8 profile-name">
        <h2> <%= current_user.username %> </h2>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        <h2>Genre</h2>
      </div>
      <div class="row songs-wrapper">
      </div>
    </div>
</div>
