<div class="feed-wrapper">
  <%= render Submission.all %> <!-- submission where the date is today -->
  <div class="load-feed-wrapper">
    <div class="col-md-4"></div>
      <h2 class="col-md-4 load-feed-button">Load Previous</h2> <!-- render a _feed partial with the previous day -->
    <div class="col-md-4"></div>
  </div>
</div>
