<div class="day-wrapper">
  <div class="day">
    <div class="day-label">
      <h2 class="day-descriptor"><%= Time.now.ago(locals[:theDate].days).strftime("%A") %></h2>
      <h3 class="day-date"><%= Time.now.ago(locals[:theDate].days).strftime("%B %d") %><h3>
    </div>
  </div>
  <div class="feed-wrapper">
    <% if(!Submission.where(:created_at => Time.now.ago(locals[:theDate].days).at_beginning_of_day.utc..Time.now.ago(locals[:theDate].days).at_end_of_day.utc).empty?) %>
      <%= render Submission.where(:created_at => Time.now.ago(locals[:theDate].days).at_beginning_of_day.utc..Time.now.ago(locals[:theDate].days).at_end_of_day.utc) %>
    <% else %>
      <div class="submission-wrapper" style="text-align:center">
        <span class="glyphicon glyphicon-alert"></span>No music today
      </div>
    <% end %>
  </div>
</div>
