<div class="day-wrapper">
  <div class="day">
    <div class="day-label">
      <h2 class="day-descriptor"><%= Time.now.ago(locals[:theDate].days).strftime("%A") %></h2>
      <h3 class="day-date"><%= Time.now.ago(locals[:theDate].days).strftime("%B %d") %><h3>
    </div>
  </div>
  <div class="feed-wrapper">
    <% posts_in_day = Submission.where(created_at: Time.now.ago(locals[:theDate].days).at_beginning_of_day.utc..Time.now.ago(locals[:theDate].days).at_end_of_day.utc).order("likes DESC") %>
    <% if(!posts_in_day.empty?) %>
      <%= render posts_in_day %>
    <% else %>
      <div class="submission-wrapper">
        There is no music on this day :(
      </div>
    <% end %>
  </div>
</div>
