<div class="day-wrapper">
  <div class="day">
    <div class="day-label">
      <h2 class="day-descriptor"><%= Time.now.ago(locals[:theDate].days).strftime("%A") %></h2>
      <h3 class="day-date"><%= Time.now.ago(locals[:theDate].days).strftime("%B %d") %><h3>
    </div>
  </div>
  <div class="feed-wrapper">
    <% posts_for_day = Submission.where(created_at: Time.now.ago(locals[:theDate].days).at_beginning_of_day.utc..Time.now.ago(locals[:theDate].days).at_end_of_day.utc).order("likes DESC") %>
    <% if(!posts_for_day.empty?) %>
      <%= render posts_for_day %>
    <% else %>
      <div class="submission-wrapper" style="padding-left: 15px;">
        <% if logged_in? %>
          <% if Time.now.ago(locals[:theDate].days).to_date === Time.now.ago(0).to_date %>
            No music yet. <a href="#submission-form" class="fancybox">Post the first song of the day.</a>
          <% else %>
              No music :(
          <% end %>
        <% else %> <!-- should only call submission and automatically detect if the user is not logged in -->
          <% if Time.now.ago(locals[:theDate].days).to_date == Time.now.to_date %>
            No music yet. <a href="#login-form" class="fancybox">Post the first song of the day.</a>
          <% else %>
            No music :(
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
