<div class="day-wrapper">
  <div class="day">
    <div class="day-label">
      <h2 class="day-descriptor"><%= locals[:theDate].day.ago.strftime("%A") %></h2>
      <h3 class="day-date"><%= locals[:theDate].day.ago.strftime("%B #{Time.now.day.ordinalize}") %><h3>
    </div>
  </div>
  <div class="feed-wrapper">
    <%= render Submission.where(:created_at => locals[:theDate].day.ago.at_beginning_of_day.utc..locals[:theDate].day.ago.at_end_of_day.utc) %>
  </div>
</div>
