<% provide(:title, "Track Sense") %>
<div class="main-content">
  <div class="tag-header">
    <div class="tag-header-column">
      <h2 class="tag-title">Tags</h2>
    </div>
  </div>
  <div class="tag-box-wrapper">
    <% @all_tags.each do |tag| %>
      <%= link_to "tag/#{tag.name}" do %>
      <div class="tag-box">
        <div class="tag-label">
          <div class="tag-inner-label"><%= tag.name %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
