/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */

a.like-button {
  display: block;
  color:black;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

#sc-widget{
  position:fixed;
  left:67%;
  bottom:0px;
}

/* Music Player */

.music-player {
  background-color: white;
  border: 1px solid gray;
  color: black;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  width: 350px;
  height: 70px;
  left: 65%;
  bottom: 0px;
}

.current-song {
  float: left;
}

.current-song-image {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}

.current-song-like {
  margin: 5px 0px;
  vertical-align: top;
  display: inline-block;
}

.current-song-like .like-button {
  margin: 0px;
}

.player-button-wrapper {
  vertical-align: middle;
  float: right;
  padding: 15px 30px;
  height: 50px;
}

.player-button {
  padding: 0px 5px;
  font-size: 25px;
}

.player-button:hover {
  color: orange;
}

.player-share {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid gray;
}

.currently-playing {
  border: 3px solid black;
  -webkit-animation: color-change 5s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% { border-color: red; }
  30% { border-color: green; }
  70% { border-color: blue; }
  100% { border-color: red; }
}
@-moz-keyframes color-change{
  0% { border-color: red; }
  30% { border-color: green; }
  70% { border-color: blue; }
  100% { border-color: red; }
}
@-ms-keyframes color-change{
  0% { border-color: red; }
  30% { border-color: green; }
  70% { border-color: blue; }
  100% { border-color: red; }
}
@-o-keyframes color-change{
  0% { border-color: red; }
  30% { border-color: green; }
  70% { border-color: blue; }
  100% { border-color: red; }
}
@keyframes color-change{
  0% { border-color: red; }
  30% { border-color: green; }
  70% { border-color: blue; }
  100% { border-color: red; }
}
/* Votes */

.voted {
  color: #F44336;
  opacity: 0.9;
}

/* Flash */

.alert {
  margin-top: 15px;
  text-align: center;
}

/* Header Animation */

.nav-up {
  top: -50px;
}

/* Fancybox */

.myClose {
  background: #343C43;
  border-radius: 30px;
  background-image: none;
  color: white;
  padding: 11px;
}

/* Bootstrap Modal Popover */

.popover-content {
  display: none;
}
