@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #FFEB3B;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin-top: 90px;
  background-color: white;
}

section {
  overflow: auto;
  box-shadow: 0px 3px 5px gray;
}

textarea {
  color: black;
  resize: vertical;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: #EF6C00;
  outline: none;
  height: 25px;
  width: 275px;
}

button {
  background-color: white;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0px;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 1.7em;
  color: #223164;
}

h2 {
  font-size: 1.5em;
  color: black;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.container {
  max-width: 860px;
  min-width: 720px;
}

.main-content {

}

/* header */

.header {
  padding: 10px 20px;
  margin: 0px auto;
  max-height: 70px;
}

.brand {
  display: inline-block;
  float: left;
  margin-top: 5px;
}

@media screen and (max-width: 740px) {
  .brand-title {
    display: none !important;
  }
}

.brand-image {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
}

.brand-title {
  text-align: left;
  width: 300px;
}

/* Navigation */

.navbar {
  float:right;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  vertical-align: middle;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #223164;
}

.navbar-nav {
  float: right;
}

.nav-item {
  position: fixed;
  display: block;
}

.nav-profile {
  position: 1px;
  padding: 15px;
}

.nav-more {
  height: 30px;
  width: 30px;
  margin: 10px 10px;
}

.nav-add {
  height: 30px;
  width: 30px;
  margin: 10px 10px;
}

.nav-add:active {
  -webkit-transform: scale(0.9,0.9);
  -moz-transform:scale(0.9,0.9);
}

.fancybox {
  padding: 0px;
}

/* Forms */

.login-wrapper {
  background-color: #fafafa;
  padding: 10px;
}

.submission-form-wrapper {
  background-color: #fafafa;
  padding: 10px;
}

.login-column {

}

.form-wrapper {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form-control {
  background-color: white;
  color: black;
  border-radius: 0px;
  border: 1px solid lightgray;
  padding: 30px;
  box-shadow: 0px 0px 0px 0px;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  color: gray;
}

.btn-primary {
  background-color: #21A3EA;
  border-radius: 0px;
  border: gray;
  width: 100%;
  padding: 15px;
}

.login-btns-wrapper {
  border-top: 1px solid lightgray;
  vertical-align: middle;
  text-align: center;
  margin-top: 35px;
  padding: 0px 15px;
  padding-top: 30px;
}

.twitter-login-btn {
  background-color: #21A3EA;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  color: white;
  text-decoration: line-through;
}

.twitter-login-btn:hover {
  background-color: #3071a9;
}

/* Day */

.day {
}

.day-label {
  margin-bottom: 10px;
}

.day-descriptor {
  display: inline-block;
  margin-right: 10px;
}

.day-date {
  display: inline-block;
}

/* Feed */

.load-feed-wrapper {
  text-align: center;
  padding: 5px;
}

.load-feed-button {
  padding: 5px;
}

.load-feed-button:hover {
  color: darkgray;
  cursor: pointer
}

/* Profile */

.profile-navigation-wrapper {
  position: fixed;
  padding: 15px;
  width: 20%;
  height: 85%;
  margin-bottom: 20px;
  border-right: 1px solid darkgray;
}

.profile-feed-wrapper {
  position: relative;
  margin-left: 30%;
  width: 70%;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-image {
  width: 80px;
  height: 80px;
  background-color: #21A3EA;
  border-radius: 40px;
}

.profile-name {
  padding-top: 20px;
}

.profile-genre-wrapper {
  text-align: center;
}

.profile-genre {
  padding: 5px;
}

.profile-genre:hover {
  background-color: rgba(170, 170, 170, 0.2);
}

.profile-nav {
  padding: 10px;
  margin-bottom: 15px;
  height: 80px;
}

.profile-nav-item {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: 105px;
}

.profile-nav-item:hover {
  background-color: rgba(170, 170, 170, 0.2);

}

.profile-songs-wrapper {
  margin-bottom: 15px;
}

/* Submission */

.submission-wrapper {
  padding: 10px 0px;
  border-radius: 3px;
  text-align: left;
  vertical-align: baseline;
  line-height: 22px;
  box-sizing: border-box;
}

.submission-wrapper:hover {
  background-color: rgba(170, 170, 170, 0.2);

  .song-time {
    visibility: visible;
  }
}

.like-button-wrapper {
  color: black;
  display: block;
  float: left;
  margin: 0px 10px;
  height: 46px;
  width: 34px;
  text-align: center;
}

.like-button:hover {
  color: green;
}

.like-button {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  font-size: 20px;
}

.new_vote {
  line-height: 16px;
  margin: 0px;
}

.like-icon:hover {
  color: green;
  text-decoration: none;
}

.submission-info {
  display: inline-block;
  padding: 3px 0px;
}

.submission-detail {
  margin-bottom: 3px;
}

.song-name {
  display: inline-block;
}

.song-artist {
  display: inline-block;
  color: gray;
}


.submission-metadata {
  padding-top: 1px;
  color: gray;
}

.right-margin-wrapper {
  float: right;
  text-align: right;
  height: 100%;
  vertical-align: baseline;
  padding-top: 12px;
}

.song-time {
  visibility: hidden;
  display: inline-block;
}

.song-play-btn {
  padding: 0px 10px;
}

.song-play-btn:hover {
  color: green;
}
