@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #FFEB3B;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
  background-color:#ffffff;
}

section {
  overflow: auto;
  box-shadow: 0px 3px 5px gray;
}

textarea {
  color: black;
  resize: vertical;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: #EF6C00;
  outline: none;
  height:25px;
  width: 275px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0px;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 1.7em;
  color: #223164;
}

h2 {
  font-size: 1.5em;
  color: black;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.header {
  padding: 10px 20px;
  margin: 0px auto;
}

.brand {
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.brand-image {
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 10px;
}

.brand-title {
  text-align: left;
  text-decoration: none;
  width: 300px;
}

/* Navigation */

.navbar {
  display: block;
  float: right;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #223164;
}

.nav-add {
  height: 30px;
  width: 30px;
  margin: 10px 10px;
}

/* Forms */

.login-wrapper {
  background-color: #fafafa;
  padding: 10px;
}

.login-column {

}

.form-wrapper {
  padding: 30px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 6px;
}

.form-wrapper input{
  background-color: white;
  color: white;
}

.btn-primary {
  background-color: #21A3EA;
  border: gray;
  width: 100%;
}

/* Day */

.day {
}

.day-label {
  margin-bottom: 10px;
}

.day-descriptor {
  display: inline-block;
  margin-right: 10px;
}

.day-date {
  display: inline-block;
}
