@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$primary-color: #FF272F;
$secondary-color: #D02030;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  margin-top: 90px;
  background-color: #eeeaea;
  font-family: 'Comfortaa';
  height: 100%;
}

section {
  overflow: auto;
  box-shadow: 0px 3px 5px gray;
}

textarea {
  color: black;
  resize: vertical;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: #EF6C00;
  outline: none;
  height: 25px;
  width: 275px;
}

button {
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

input::-webkit-input-placeholder {
  color: white;
}
input::-moz-placeholder {
  color: white;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0px;
  letter-spacing: 0.3px;
}

h1 {
  font-size: 1.7em;
  color: #223164;
}

h2 {
  font-size: 1.5em;
  color: black;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.container {
  max-width: 860px;
  min-width: 800px;
  background-color: white;
  height: 100%;
}

.main-content {
  min-height: 600px;
}

/* header */

.header {
  padding: 0px 20px;
  max-height: 50px;
  background-color: $secondary-color;
  min-width: 810px;
}

.brand {
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.brand-image {
  height: 45px;
  width: 45px;
  float: left;
  margin-right: 10px;
}

.brand-title {
  text-align: left;
  width: 300px;
}

.brand-title-text {
  color: white;
}

/* Navigation */

.navbar {
  float:right;
  vertical-align: middle;
  border-bottom: 0px;
  background-color: $secondary-color;
  min-width: 800px;
  max-height: 70px;
  transition: top 0.15s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #223164;
}

.navbar-nav {
  float: right;
}

.nav-item {
  vertical-align: center;
  display: inline-block;
}

.nav-profile {
  position: 1px;
  padding: 15px;
  color: white;
  cursor: pointer;

  :hover {
    border: 0px;
  }
}

.nav-more {
  height: 30px;
  width: 30px;
  margin: 10px 10px;
  color: white;
  cursor: pointer;
}

.nav-add {
  height: 32px;
  width: 32px;
  margin: 7px 10px;
  vertical-align: center;
}

.nav-add:active {
  -webkit-transform: scale(0.9,0.9);
  -moz-transform:scale(0.9,0.9);
}

/* Player */

.player {
  position: fixed;
  background-color: $primary-color;
  top: 50px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: white;
  vertical-align: middle;
  min-width: 800px;
}

.player-controls, .player-meta{
  padding-top: 4px;
  font-size: 22px;
  display: inline-block;
}

.player-back, .player-play, .player-forward {
}

.player-controls {
  float: left;
  cursor: pointer;
}

.player-meta {
  float: right;
}

.player-back:active, .player-play:active, .player-forward:active {
  font-size: 26px;
}

.player-back {
  color: $secondary-color;
}

/* Forms */

.login-wrapper {
  padding: 10px;
  vertical-align: bottom;
  background-color: #343c44;
}

.login-header {
  margin-top: 20px;
  color: white;
}

.submission-form-header {
  margin-top: 10px;
  color: white;
}

.submission-form-wrapper {
  padding: 15px;
  background-color: #343c44;
}

.login-column {
  bottom: 10px;
  height: 362px;
}

.form-wrapper {
  margin: 10px;
}

.form-control {
  vertical-align: bottom;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid black;
  padding: 25px;
  box-shadow: 0px 0px 0px 0px;
  margin-bottom: 10px;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid $secondary-color;
}

.form-control::-webkit-input-placeholder,
.add-tag-field::-webkit-input-placeholder {
  color: #808080;
}

.add-tag-field {
  vertical-align: bottom;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 0px 0px;
  padding: 15px;
  padding-left: 25px;
  margin-bottom: 15px;
}

.add-tag-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid #D32F2F;
}

.add-tag-btn {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 0px;
  padding: 14px;
  border: 2px solid black;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
}

.added-tags {
  color: white;
  clear: left;
  margin-bottom: 10px;
  max-width: 255px;
}

.added-tag {
  display: inline-block;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.added-tag:hover {
  background-color: rgba(255, 0, 0, 0.3);
  cursor: pointer;
}

.remember-control {
  margin-left: 20px;
  color: lightgray;
}

.login-btn {
  margin-top: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: $primary-color;
  width: 100%;
  padding: 12px 15px;
  border: 0px;
  border-radius: 1px;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 7px $secondary-color;
}

.btn-primary:active {
  background-color: $secondary-color;
}

.login-btns-wrapper {
  border-top: 1px solid lightgray;
  vertical-align: middle;
  text-align: center;
  margin-top: 45px;
  padding: 0px 15px;
  padding-top: 30px;
}

.twitter-login-btn {
  background-color: #21A3EA;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  color: white;
  text-decoration: line-through;
}

.twitter-login-btn:hover {
  background-color: #3071a9;
}

/* Day */

.day {
  margin-top: 15px;
}

.day-label {
  text-align: left;
  margin-bottom: 10px;
}

.day-descriptor {
  display: inline-block;
  margin-right: 10px;
}

.day-date {
  display: inline-block;
}

.load-previous {
  background-color: none;
  border-radius: 10px;
  padding: 8px 18px;
  border: 0px;
  color: #808080;
  font-size: 18px;
}

.load-previous:hover {
  color: black;
}

/* Feed */

.load-feed-wrapper {
  text-align: center;
  padding: 5px;
}

.load-feed-button {
  padding: 5px;
  margin-bottom: 70px;
}

.load-feed-button:hover {
  color: darkgray;
  cursor: pointer
}

/* Profile */

.profile-wrapper {
  width: 100%;
  height: 100px;
}

.profile-header-wrapper {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.profile-image-wrapper, .profile-name, .profile-meta {
  display: inline-block;
}

#profile-username {
  font-size: 30px;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  border: 2px solid white;
  display: none;
}

.profile-meta {
  text-align: center;
  float: right;
  padding-top: 10px;
}

@media screen and (min-width:800px) {
  .profile-meta {
    text-align: center;
    float: right;
    padding-top: 10px;
  }
}
@media screen and (max-width:800px) {
  .profile-meta {
    clear: left;
  }
}

.profile-navigation-wrapper {
  position: fixed;
  width: 20%;
  height: 85%;
  margin-bottom: 20px;
  border-right: 1px solid darkgray;
}

.profile-feed-wrapper {
  width: 100%;
  background-color: white;
}

.profile-nav-1, .profile-nav-2{
  display: inline-block;
  padding: 0px 10px;
}

.profile-nav-item, .profile-nav-item {
  color: #808080
}

.profile-nav-item:hover, .profile-nav-item:hover {
  color: black;
}

/* Tag Index */

.tag-box-wrapper {
  padding-top: 20px;
  text-align: center;
}

.tag-box {
  float: left;
  width: 135px;
  height: 135px;
  margin: 1em;
  background-color: $secondary-color;
  cursor: pointer;
}

.tag-label {
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 25px 10px;
  padding: 30px 0px;
  transition: all 0.3s ease 0s;
}
.tag-inner-label {
  color: white;
}

.tag-inner-label:hover {
  color: white;
}

.tag-box:hover {
  .tag-label {
    margin: 45px 10px;
    padding: 10px 0px;
  }
}

/* Tag Show */

.tag-header {
  text-align: center;
  padding: 50px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px;
}

/* Better Submission */

.submission-wrapper {
  display: block;
  padding: 5px 0px;
  border-radius: 3px;
  overflow: auto;
  border-bottom: 1px solid #f0f0f0;
  margin: 0px 30px;
  margin-bottom: 15px;
}

.submission-left-col-wrapper {
  float: left;
  width: 60px;
}

.submission-play-btn-wrapper {
  height: 60px;
  width: 60px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid black;
}

.submission-play-btn {
  font-size: 18px;
  margin: auto;
  cursor: pointer;
}

.submission-plays-label {
  color: darkgray;
  font-size: 12px;
  text-align: center;
}

.submission-info-wrapper {
  display: inline-block;
  max-width: 570px;
  padding-left: 10px;
  padding-right: 5px;
}

.submission-artist {
  color: gray;
  font-size: 16px;
}

.submission-name {
  cursor: pointer;
  font-size: 21px;
  margin: 5px 0px;
}

.submission-name:hover {
  text-decoration: underline;
}

.submission-tags {
  display: block;
}

.submission-tag {
  border-radius: 3px;
  background-color: #b0b0b0;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
}

.submission-tag:hover {
  color: white;
  background-color: #808080;
}

.submission-right-col-wrapper {
  float: right;
  display: -webkit-flex;
  display: flex;
  text-align: center;
  height: 60px;
  width: 80px;
}

.submission-users-wrapper {
  margin: auto;
}

.submission-poster {
  max-width: 24px;
  max-height: 24px;
  border-radius: 12px;
  opacity: 0.1;
  cursor: pointer;
}

.submission-poster:hover {
  opacity: 0.8;
}

.submission-vote-wrapper {
  margin: auto;
  padding-left: 4px;
  margin-left: 4px;
  border-left: 1px solid #f0f0f0
}

.vote-icon {
  font-size: 26px;
  color: #e0e0e0;
}

.vote-icon:hover {
  color: $primary-color;
}

.vote-count {
  color: #808080;
}

/* About page */

.about {
  padding-bottom: 50px;
}

.founder {
  width: 33.33%;
  padding: 15px;
  margin-bottom: 60px;
  float: left;
}

.founder h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.founder img {
  display: inline-block;
  padding: 20px;
}

.about {
  text-align: center;
}

.about h1 {
  color: #CF2727;
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px solid #CCCCCC;
}

.about h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  clear: left;
}

.about #makeschool {
  clear: left;
}
