<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"><%= link_to "First", '#' %></li>

        <li class="nav-link"><%= link_to "Second", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
