<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container header">
    <a class="brand">
      <%= image_tag("TSLogo.png", class: 'brand-image') %>
      <div class="brand-title">
        <h1>Track Sense</h1>
        <h2>Music to your brain, every day</h2>
      </div>
    </a>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"><%= link_to "First", '#' %></li>

        <li class="nav-link"><%= link_to "Second", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
